<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Питомник РКФ Irline Of Beauty (Самара). Щенки Кинг Чарльз Спаниель, услуги хендлинга, профессиональный подход."
    />
    <title>
      профессиональный питомник ркф Ирлайн Оф Бьюти Самара. щенки Кинг Чарльз
      Спаиэль. услуги хендлинг, клуб ркф
    </title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body id="body">
    <header class="header">
      <div class="heder_logo">
        <a href="../../index.html">
          <img src="../img/logo_white.png" alt="logo"
        /></a>
      </div>
      <div class="burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu">
        <ul>
          <li>
            <a class="color_menu" href="../../index.html">Главная </a>
          </li>

          <li class="has-submenu">
            <a class="color_menu" href="#">Собаки </a>
            <ul class="submenu">
              <li>
                <a href="producers.html">Производители</a>
              </li>
              <li>
                <a href="puppies.html">Щенки</a>
              </li>
            </ul>
          </li>

          <li class="has-submenu">
            <a class="color_menu" href="#">Контакты </a>
            <ul class="submenu">
              <li>
                <a href="contact.html">Связаться</a>
              </li>
              <li>
                <a href="services.html">Услуги</a>
              </li>
              <li>
                <a href="info.html">Полезная информация</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="header_lang">
        <a href="../../index_eng.html">
          <img src="../img/Buton_lg.png" alt="language" />
        </a>
      </div>
    </header>
    <main class="main">
      <div class="Main_contact">
        <h1>ПРОФЕССИОНАЛЬНЫЙ ПИТОМНИК РКФ "ИРЛАЙН ОФ БЬЮТИ"</h1>
        <h3>на этой странице Вы найдете все наши контакты для связи.</h3>
        <div class="Main_contact_contein">
          <div class="Main_contact_pitomnic">
            <h3><strong>питомник собак</strong> "ИРЛАЙН ОФ БЬЮТИ"</h3>
            <p><b>владелец питомника</b> - Кирюшина Ирина Валерьевна</p>
            <p>
              <a href="tel:+79277596847"> <b>тел:</b>+79277596847</a>
            </p>
          </div>
          <div class="Main_contact_club">
            <h3>СООО ЦЛС <strong>Имидж Дог </strong></h3>
            <p>
              <b>руководитель</b> - Кирюшина Ирина Валерьевна
              <br />
              <b>Адрес</b> - Самарская обл., Самара г., Мяги ул., дом 12, кв 62
              <br />
              <a href="tel:+79277596847"> <b>тел:</b>+79277596847</a>
              <br />
              <b>Эл. почта</b> - imidj-dog@mail.ru
              <br />
              <b>Стандарты</b> - FCI
              <br />
              <b>Федерации</b> - РФСС
            </p>
            <p>
              <a href="tel:+79277596847"> <b>тел:</b> +79277596847</a>
            </p>
          </div>
          <div class="Main_contact_hend">
            <h3><strong>хендлер с многолетним успешным стажем</strong></h3>
            <p>Кирюшина Екатерина</p>
            <p>
              <a href="tel:+79270086286"> <b>тел:</b> +79270086286</a>
              <br />
              <a href="https://vk.com/eka_kir_handler">
                <b>группа к контакте:</b> https://vk.com/eka_kir_handler</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="main_itog">
        Если вы мечтаете о преданном друге, яркой выставочной карьере или ищете
        надёжного заводчика — вы попали по адресу. Добро пожаловать в мир собак
        вместе с питомником «Ирлайн оф Бьюти»!
      </div>
      <div class="contact_developer">
        <a href="tel:+79277162411"
          >Сайт разработан <br />
          ИП Нуриахметова Е.А.</a
        >
      </div>
    </footer>
    <script src="../../src/css/java.js"></script>
  </body>
</html>
