* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --body-bg-color: rgb(255 255 255 / 94%);
    --boxShadow: rgb(95 42 0);
    --block-main-color: rgb(95 42 0 / 93%);
    --text-menu-color: rgb(255, 255, 255);
    --btn-color:rgb(137, 8, 46);
    --btn-color-hover: rgb(246, 17, 17);
    --text-color: rgb(0, 0, 0);
   
}

body {
    background: url("../img/bagraund.png");
  background-size: cover; /* чтобы растягивался */
  margin: 0;
}
#body {
    max-width: 1512px; 
    margin: 0 auto;    
    width: 100%;
}
.header {
    width: 97%;
    border-radius: 0 0 20px 20px;
    height: auto;
    margin: 0dvw auto;
    height: 200px;
    background-image: url(../img/heder.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
     padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 20px var(--boxShadow);
    z-index: 101;
    position: relative;
    /* background-color: var(--block-main-color); */
}
.heder_logo img{
    width: 25dvw;
    height: auto;
}
.heder_logo:hover {
    transform: scale(1.2) translateY(5px);
}


/* Общий стиль меню */

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* горизонтальное меню */
  
}

.menu ul li {
  position: relative; /* нужно для вложенных списков */
}

.menu ul li a {
  display: flex;
  padding: 2dvw 7dvw 2dvw 0dvw;
  text-decoration: none;
  color: var(--text-menu-color);
  font-weight: 700;
  font-size: large;
  transition: 0.3s;
}
.color_menu {
     text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.menu ul li a:hover {
    transform: scale(1.2) translateY(5px);
  /* background: #DA2528; /* красный из твоей палитры */
    color: white; 
    text-shadow:none;
}

/* Скрываем подменю */
.menu ul li ul.submenu {
  display: none;
  position: absolute;
  top: 100%; /* ниже основного пункта */
  left: 0;
  background: var(--body-bg-color);
  padding: 10px 0;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  flex-direction: column;
  min-width: 180px;
  z-index: 1000;
}
.header_lang {
    position: absolute;
    right: 20px;
    top: 10px;
  }
.header_lang img{
  width: 6dvw;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.header_lang img:hover {
  transform: scale(1.1);
}

/* Делаем вертикальный список */
.menu ul li ul.submenu li a {
  padding: 10px 15px;
  color: #333;
  white-space: nowrap;
}

.menu ul li ul.submenu li a:hover {
  background: var(--btn-color-hover);
  color: #fff;
}

/* Показываем подменю при наведении */
.menu ul li:hover > ul.submenu {
  display: flex;
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--text-menu-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* При активном состоянии (крестик) */
.burger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* основной контент */
.main {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0 2dvw 2dvw 2dvw;
  background-color: var(--body-bg-color);
  box-shadow: 0 6px 20px var(--boxShadow);
}
.main_info {
  text-align: center;
  padding: 2dvw 3dvw;
}
.main_info h1 {
  margin: 2dvw 0;
}

.main_line {
 width: 100%;
 height: 1dvw;
 background-image: url(../img/main_line.png);
  background-repeat: repeat-x;   /* повторяем по горизонтали */
  background-size: auto 100%;    /* подгоняем по высоте, ширина авто */
  background-position: center;   /* выравнивание */
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  color: inherit;
}
.carousel-slide:hover {
  opacity: 0.9; /* лёгкий эффект при наведении */
  transition: opacity 0.3s ease;
}

.carousel-slide img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 12px;
}

.slide-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--boxShadow)
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn.prev { left: 10px; }
.carousel-btn.next { right: 10px; }

.carousel-btn:hover {
  background: rgba(0,0,0,0.8);
}

.carousel-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.carousel-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
}

.carousel-dots .active {
  background: white;
}
.main_info_bos_h2 {
  text-align: center;
  margin: 2dvw auto;
}
.main_info_bos {
  display: flex;                /* карточки рядом */
  gap: 20px;                    /* расстояние между ними */
  justify-content: center;
  flex-wrap: nowrap;              /* отсутсвие переноса карточек*/
}

.main_card {
  display: flex;
  flex-direction: column;       /* элементы сверху вниз */
  justify-content: space-between; /* чтобы кнопка всегда была внизу */
  align-items: center;
  width: 388px;
  min-height: 450px;            /* одинаковая высота */
  padding: 12px;
  box-shadow: 0px 9px 16px 0px var(--boxShadow);
  border-radius: 15px;
  text-align: center;
}

.main_card h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.main_card p {
  flex-grow: 1;                 /* текст занимает свободное место */
  margin-bottom: 15px;
}

.main_card_img img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;            /* картинка обрезается без искажений */
  border-radius: 10px;
}


.main_card_btn {
  display: inline-block;
  background-color: var(--btn-color);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.main_card_btn:hover {
  transform: scale(1.05);
  background: var(--btn-color-hover);
}
.main_list_info a {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
  justify-content: space-between;
}
.main_list_info h3 {
  text-align: start;
}
.main_list_img {
  padding: 0 2dvw;
}
.main_list_img:hover {
  transform: scale(2);
  translate: 5px;
}
.main_list {
  display: grid;
  gap: 2dvw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2 i3"
    "i4 i5 i6"
    "i7 i8 i9";
}
.main_list_1 a,
.main_list_2 a,
.main_list_3 a,
.main_list_4 a,
.main_list_5 a,
.main_list_6 a,
.main_list_7 a,
.main_list_8 a,
.main_list_9 a
{
  text-decoration: none;
  color: var(--text-color);
}
.main_list_1 {
  grid-area: i1;
}
.main_list_2 {
  grid-area: i2;
}
.main_list_3 {
  grid-area: i3;
}
.main_list_4 {
  grid-area: i4;
}
.main_list_5 {
  grid-area: i5;
}
.main_list_6 {
  grid-area: i6;
}
.main_list_7 {
  grid-area: i7;
}
.main_list_8 {
  grid-area: i8;
}
.main_list_9 {
  grid-area: i9;
}
.main_list_1,
.main_list_2,
.main_list_3,
.main_list_4,
.main_list_5,
.main_list_6,
.main_list_7,
.main_list_8,
.main_list_9 {
  display: flex;
  gap: 0.5dvw;
  padding: 0.5dvw;
  box-shadow: 0px 9px 16px 0px var(--boxShadow);
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  height: 15dvh;
}
.main_itog {
  margin: 2dvh 2dvw;
  text-align: center;
  padding: 3dvw;
  color: var(--text-menu-color);
  text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
  font-size: 17px;
  font-weight: 400;
  
}

.footer {
    width: 97%;
    margin: 0dvw auto;
    border-radius: 20px 20px 0 0;
    height: 100%;
    box-shadow: 0px -1px 20px 2px var(--boxShadow);
    background-color: var(--block-main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .contact_developer {
    text-align: right;
    
    cursor: pointer;
  }
  .contact_developer a {
    text-decoration: none;
    color: var(--text-menu-color);
  }
@media (max-width: 777px) {
     #body {
    max-width: 777px; 
    margin: 0 auto;    
    width: 100%;
}
  /* === ШАПКА === */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    height: 35dvw;
  }

  /* === ЛОГОТИП (СЛЕВА) === */
  .heder_logo {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .heder_logo img {
    width: 38dvw;
    height: auto;
  }

  /* === ИКОНКА ЯЗЫКА (ПО ЦЕНТРУ) === */
  .header_lang {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: center;
    position: static;
  }

  .header_lang img {
    width: 14dvw;
    height: auto;
  }

  /* === БУРГЕР (СПРАВА) === */
  .burger {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height: 24px;
    cursor: pointer;
    flex-shrink: 0;
    gap: 1dvw;
    margin-right: 15px;
    align-items: flex-end;
  }

  .burger span {
    display: block;
    height: 4px;
    width: 30%;
    background: var(--text-menu-color);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .burger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* === МЕНЮ === */
  .menu ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35dvw;
    right: 0;
    height: 95dvw;
    background: var(--block-main-color);
    width: 70%;
    border-radius: 0 0 0 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;

    /* плавное открытие/закрытие */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 20px;
    transition:
      max-height 0.4s ease-in-out,
      opacity 0.4s ease-in-out,
      padding 0.3s ease-in-out;
  }

  .menu.active ul {
    max-height: 400px;
    opacity: 1;
    padding: 20px;
  }

  .menu ul li {
    margin-bottom: 1dvw;
    position: relative;
  }

  .menu ul li a {
    font-size: 10dvw;
    padding: 1dvw;
    display: block;
  }

  /* === ПОДМЕНЮ === */
  .menu ul li ul.submenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--block-main-color);
    padding-left: 1dvw;
    margin-top: 1dvw;
    width: auto;
    border-left: 2px solid var(--text-menu-color);

    /* для плавного открытия */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.4s ease-in-out,
      opacity 0.4s ease-in-out,
      margin-top 0.3s ease-in-out;
  }

  /* при клике добавляется класс show-submenu из твоего JS */
  .menu ul li.show-submenu >ul.submenu {
    max-height: 300px; /* регулируй под количество пунктов */
    height: 32dvw;
    opacity: 1;
    margin-top: 8px;
  }

  .menu ul li ul.submenu li a {
    padding: 0dvw 0dvw;
    font-size: 5dvw;
    color: var(--text-menu-color);
  }

  .menu ul li ul.submenu li a:hover {
    background: var(--btn-color-hover);
    color: white;
  }
  /* иконки контактов */
  .main_info_bos {
    display: flex;
    gap: 2dvw;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main_card {
  width: 80dvw;
  padding: 1dvw;
  margin: 0 auto;
}
.main_list_8 {
  display: none;
}
   .main_list {
    display: grid;
    gap: 2dvw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "i1 i2 "
        "i3 i4"
        "i5 i6"
        "i7 i9";
}
.main_list_1, 
.main_list_2, 
.main_list_3, 
.main_list_4, 
.main_list_5, 
.main_list_6, 
.main_list_7, 
.main_list_8, 
.main_list_9 {
    flex-direction: column;
    justify-content: space-evenly;
    height: 24dvh;
}
.main_list_info h3 {
    text-align: center;
}
.main_list_info p {
  display: flex;
  text-align: center;
}
}



